                  <br>
                  <div style="background-color:transparent; margin-bottom: 10px;">
                     <div style="color:#4E5264;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:1.5;padding-right:20px;padding-bottom:20px;padding-left:20px;">
                        <div style="font-size: 14px; line-height: 1.5; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #4E5264; mso-line-height-alt: 21px;">
                           <p style="font-size: 16px; line-height: 1.5; text-align: center; mso-line-height-alt: 24px; margin: 0;"><span style="font-size: 16px; color: #4e5264;">Atenciosamente,<br>Equipe GymPoint</span></p>
                        </div>
                     </div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
